html {
    height: 100%;
}

body {
    background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

h1 {
    color: blue;
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
}

h2, h3 {
    color: black;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.question-wrapper, .options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.choice {
    background-color: #71d5f3;
    height: 10%;
    width: 350px;
    padding: 10px 40px 15px 40px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    color: rgb(20, 1, 1);
    font-family: 'Noto Serif', serif;
}

.choice:hover {
    cursor: pointer;
    background-color: #040280;
    color: whitesmoke; 
    font-family: 'Noto Serif', serif;

}

.round-score, .total-score {
    font-family: 'Noto Serif', serif;
    padding-top: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-score {
    font-weight: 700;
}

